<p-table [value]="stockdata" [paginator]="true" [rows]="10">
  <ng-template pTemplate="header">
      <tr>
          <th>衛材代碼</th>
          <th>衛材名稱</th>
          <th>目前庫存</th>
          <th>盤點數量</th>
          <th>盤點差異</th>
          <th>庫存單位</th>
          <th>庫存分類</th>
          <th>儲位號</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-stockdata>
      <tr>
          <td>{{stockdata.departNo}}</td>
          <td>{{stockdata.shortName}}</td>
          <td>{{stockdata.totalQty}}</td>
          <td>{{stockdata.takinQty}}</td>
          <td>{{stockdata.diffQty}}</td>
          <td>{{stockdata.stockUnitName}}</td>
          <td>{{stockdata.invTypeName}}</td>
          <td>{{stockdata.storageNo}}</td>
      </tr>
  </ng-template>
</p-table>
